services:
	- App\Router\RouterFactory::createRouter
	- App\Model\DibiConnection(%db.driver%, %db.host%, %db.username%, %db.password%, %db.databaseName%)
	- App\Model\User\UserRepository
	- App\AdminModule\Components\Forms\Register\RegisterFormFactory
	- App\AdminModule\Components\Forms\Login\LoginFormFactory
	- App\Model\Authentication\UserAuthenticator
	- App\Model\DailyBodyWeight\DailyBodyWeightRepository
	- App\Model\DailyEating\DailyEatingRepository
	- App\Model\DailyNumberOfStep\DailyNumberOfStepRepository
	- App\Model\DailyProgramming\DailyProgrammingRepository
	- App\Model\DailySleeping\DailySleepingRepository
	- App\Model\DailyStretching\DailyStretchingRepository
	- App\FrontModule\Components\Forms\DailyBodyWeight\DailyBodyWeightFormFactory
	- App\FrontModule\Components\Forms\DailyEating\DailyEatingFormFactory
	- App\FrontModule\Components\Forms\DailyStretching\DailyStretchingFormFactory
	- App\FrontModule\Components\Forms\DailySleeping\DailySleepingFormFactory
	- App\FrontModule\Components\Forms\DailyProgramming\DailyProgrammingFormFactory
	- App\FrontModule\Components\Forms\DailyNumberOfStep\DailyNumberOfStepFormFactory
	- App\Model\FitnessInstructor\FitnessInstructorRepository
	- App\AdminModule\Components\Forms\FitnessInstructor\FitnessInstructorFormFactory
	- App\Model\DailyWorkout\DailyWorkoutRepository
	- App\FrontModule\Components\Forms\DailyWorkout\DailyWorkoutFormFactory

