services:
	- App\Router\RouterFactory::createRouter
	- App\Model\DibiConnection(%db.driver%, %db.host%, %db.username%, %db.password%, %db.databaseName%)
	- App\Model\User\UserRepository
	- App\AdminModule\Components\Forms\Register\RegisterFormFactory
	- App\AdminModule\Components\Forms\Login\LoginFormFactory
	- App\Model\Authentication\UserAuthenticator
	- App\Model\DailyBodyWeight\DailyBodyWeightRepository
	- App\Model\DailyEating\DailyEatingRepository
	- App\Model\DailyNumberOfStep\DailyNumberOfStepRepository
	- App\Model\DailyProgramming\DailyProgrammingRepository
	- App\Model\DailySleeping\DailySleepingRepository
	- App\Model\DailyStretching\DailyStretchingRepository
	- App\FrontModule\Components\Forms\DailyBodyWeight\DailyBodyWeightFormFactory
	- App\FrontModule\Components\Forms\DailyEating\DailyEatingFormFactory
	- App\FrontModule\Components\Forms\DailyStretching\DailyStretchingFormFactory
	- App\FrontModule\Components\Forms\DailySleeping\DailySleepingFormFactory
	- App\FrontModule\Components\Forms\DailyProgramming\DailyProgrammingFormFactory
	- App\FrontModule\Components\Forms\DailyNumberOfStep\DailyNumberOfStepFormFactory
	- App\Model\FitnessInstructor\FitnessInstructorRepository
	- App\AdminModule\Components\Forms\FitnessInstructor\FitnessInstructorFormFactory
	- App\Model\DailyWorkout\DailyWorkoutRepository
	- App\FrontModule\Components\Forms\DailyWorkout\DailyWorkoutFormFactory
	- App\Model\DailyMobile\DailyMobileRepository
	- App\FrontModule\Components\Forms\DailyMobile\DailyMobileFormFactory
	- App\Model\DailyBodyCare\DailyBodyCareRepository
	- App\FrontModule\Components\Forms\DailyBodyCare\DailyBodyCareFormFactory
	- App\Model\DailyToDo\DailyToDoRepository
	- App\FrontModule\Components\Forms\DailyToDo\DailyToDoFormFactory
	- App\Model\OutsideFood\OutsideFoodRepository
	- App\FrontModule\Components\Forms\OutsideFood\OutsideFoodFormFactory
	- App\Model\ShoppingCart\ShoppingCartRepository
	- App\FrontModule\Components\Forms\ShoppingCart\ShoppingCartFormFactory
	- App\Model\Book\BookRepository
	- App\FrontModule\Components\Forms\Book\BookFormFactory
	- App\Model\Genre\GenreRepository
	- App\AdminModule\Components\Forms\Genre\GenreFormFactory
	- App\Model\Movie\MovieRepository
	- App\Model\MovieGenre\MovieGenreRepository
	- App\FrontModule\Components\Forms\Movie\MovieFormFactory
	- App\Model\Movie\MovieService
	- App\Model\EntertainmentType\EntertainmentTypeRepository
	- App\AdminModule\Components\Forms\EntertainmentType\EntertainmentTypeFormFactory
	- App\Model\Entertainment\EntertainmentRepository
	- App\Model\Entertainment\EntertainmentService
	- App\FrontModule\Components\Forms\Entertainment\EntertainmentFormFactory
	- App\Model\TransportType\TransportTypeRepository
	- App\AdminModule\Components\Forms\TransportType\TransportTypeFormFactory
	- App\Model\TripTransport\TripTransportRepository
	- App\Model\Trip\TripRepository
	- App\FrontModule\Components\Forms\Trip\TripFormFactory
	- App\Model\Trip\TripService
	- App\Model\DestinationType\DestinationTypeRepository
	- App\AdminModule\Components\Forms\DestinationType\DestinationTypeFormFactory
	- App\Model\Destination\DestinationRepository
	- App\FrontModule\Components\Forms\Destination\DestinationFormFactory
	- App\Model\FurnishingCategory\FurnishingCategoryRepository
	- App\AdminModule\Components\Forms\FurnishingCategory\FurnishingCategoryFormFactory
	- App\Model\Furnishing\FurnishingRepository
	- App\FrontModule\Components\Forms\Furnishing\FurnishingFormFactory
	- App\Model\FurnishingLink\FurnishingLinkRepository
	- App\Model\FurnishingLink\FurnishingLinkService
	- App\Model\Room\RoomRepository
	- App\AdminModule\Components\Forms\Room\RoomFormFactory
	- App\FrontModule\Components\Forms\FurnishingLink\FurnishingLinkFormFactory
	- App\Model\FurnishingExpense\FurnishingExpenseRepository
	- App\FrontModule\Components\Forms\FurnishingExpense\FurnishingExpenseFormFactory
	- App\Model\RecipeCategory\RecipeCategoryRepository
	- App\AdminModule\Components\Forms\RecipeCategory\RecipeCategoryFormFactory
	- App\Model\Ingredient\IngredientRepository
	- App\FrontModule\Components\Forms\Ingredient\IngredientFormFactory
	- App\Model\Recipe\RecipeRepository
	- App\FrontModule\Components\Forms\Recipe\RecipeFormFactory
	- App\Model\RecipePart\RecipePartRepository
	- App\FrontModule\Components\Forms\RecipePart\RecipePartFormFactory
	- App\Model\RecipePart\RecipePartService
	- App\Model\RecipePartIngredient\RecipePartIngredientRepository
	- App\Model\RecipePartIngredient\RecipePartIngredientService
	- App\FrontModule\Components\Forms\RecipePartIngredient\RecipePartIngredientFormFactory
	- App\Model\RecipePartMethod\RecipePartMethodRepository
	- App\Model\RecipePartMethod\RecipePartMethodService
	- App\FrontModule\Components\Forms\RecipePartMethod\RecipePartMethodFormFactory
	- App\Model\Diary\DiaryRepository
	- App\FrontModule\Components\Forms\Diary\DiaryFormFactory
	- App\Model\TaskCategory\TaskCategoryRepository

